.site-search-form {
    display: flex;
    align-items: center;    

    input {
        border: none;
        background: transparent;  
        padding: 0.5em;      
    }

    input::placeholder {
        color: #000;
        font-size: 14px;
    }
}

.icon {
    @extend %fa-icon;
    @extend .fas;   

    &-search:before {
        content: fa-content($fa-var-search);
        font-weight: 400;
        padding-right: 0.5em;
    }    
}


button {
    background: transparent;
    border: none;
}

.load-more {
    color: rgb(105, 104, 104);
    text-decoration: underline;
    font-size: 14px;
}

.hide {
    opacity: 0;
}

.site-aside {
    // opacity: 0;
}

