.site-wrapper {    
    position: relative;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.site-search {
    background: #FFEB3D; 
    opacity: 0;  
    overflow: hidden; 
    

    .wrapper {
        display: flex;
        align-items: center;
        padding: 1.7em 0;        
    }
    
    .site-search-description {
        font-weight: 900;
        padding-right: 2em;      
    }
}

.site-content {
    position: relative;

    &-description {
        width: 38em;
        padding: 3.5em 0;
        opacity: 0;

        span {
            font-weight: 900;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.site-aside {   
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 14px;
    letter-spacing: 1.2;
}

.dx-grossary {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: calc(100vh - 530px);
    // overflow: auto;
    margin-bottom: 2em;

    &-title {
        font-size: 24px;
        border: 1px solid #ccc;
        border-radius: 50%;
        display: inline-block;
        padding: 0.5em;
        line-height: 1;
        width: 2em;
        height: 2em;
        text-align: center;
        margin-bottom: 1.5em;
        animation: wobble 1.5s ease-in 0.5s 1;
    }

    &-section {
        flex: 0 0 26%;
        margin-bottom: 3em;
        margin-right: 3.5em;
        opacity: 0;     
        // max-height: 500px;
        // overflow: auto;  
    }

    &-list {
        line-height: 2.2;
    }
    
}

.loaded .site-search {
    animation: fadeInLeft 0.5s ease-in 0.7s forwards;
}

.loaded .site-content-description {
    animation: pulse 0.6s ease-out 1.2s forwards;
}

.loaded .dx-grossary-section.list-delay {
    animation: loadMenu 0.5s ease-in 1s forwards;    
}

.loaded .list-delay .dx-grossary-list li {
    animation: loadMenu 1s 1 both;      
    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
        animation-delay: $i * 0.23s;
        }
    }
}


