.site-header {     
    margin: 2em 0;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }

    .site-logo {
        font-weight: 600;
        animation: 0.5s ease-out 0s 1 fadeInLeft;        
    }

    .site-adv {
        color: #7e7979;
        font-size: 14px;
        animation: 0.5s ease-out 0s 1 fadeInRight;
    }

    .site-adv span {
        color: #000;
    }
}