.btn{
    padding: 0.7rem 1.2rem;
    outline: none;
    border: none;
    border-radius: 0.2rem;

    &-primary{
        background: #2C70ED;
        color: white;    
        border: 2px solid #2C70ED;
        transition: 0.3s;
    
        &:hover{
            background: transparent;        
        }
    }

}

.site-header .btn:hover{
    color: #0F1F36;
}