.site-logo {
    width: 100px;
    height: 40px;
    background: url('../images/gmail-logo.png') no-repeat center center;
    background-size: contain;    
}

.site-actions {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.profile-controls {
    display: inline-block;
}

.item-icon {

    & > img {
        width: 17px;
        height: auto;
        vertical-align: middle;
    }
}

.item-label {
    color: #3F59EE;
    background: rgba(#3F59EE, 0.3);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    margin-left: auto;
}

.text-bold {
    font-weight: 900;
}

.avatar {
    img {
        border-radius: 50%;
        vertical-align: middle;
    }
}

.options-header {
    display: flex;
    margin: 1em 0;

    .options-title {        
        text-transform: uppercase;
        padding-left: 2em;        
    }

    .item-icon {
        margin-left: auto;
    }
}

.site-content {
   display: flex; 
}

.site-menu {
    flex-basis: calc(100% / 5);
    background: $color-secondary;
    padding: 1em 1.5em 0 0;
    border-bottom-left-radius: 10px;

    .options-wrapper {
        margin-top: 1em;
    }

    .options-wrapper:after {   
        content: '';
        display: block;   
        width: calc(100% - 20px);
        height: 1px;
        background-color: rgb(221, 213, 213);
        margin: 0 auto;    
    }

    .list-item {
        margin-bottom: 1em;
    
        a {
            display: flex;
            align-items: center;
        }
    }
}


.email-section {
    flex-basis: calc(100%/5);    
}

.list-emails {
    background: #F9F9F9;

    .list-item.email-item {
        min-height: 6.5em;        
        border-top: 1px solid $color-secondary;
        display: flex;
        align-items: center;        
    }

    .list-item a {
        display: inline-block;
        width: 100%;
    }
}

.email-actions {
    display: none;
    padding: 0.5em 1em 1em 1em; 
    
    .list-functions {
        display: flex;
    
        .list-item {
            padding: 0 0.5em;                   
        }       
    }
    
    .email-counter {
        margin-left: auto;       
    }    
}

.card-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
    padding: 1em 0;

    .main-info {
        display: flex;
        align-items: center;
    }

    .email-title,
    .email-name {
        display: block;
    }

    .email-name,
    .email-date {
        font-size: 0.9em;
        color: $color-text-secondary;
    }

    .email-title {
        font-weight: 900;
    }   

    .email-name {
        font-weight: 500;
        color: #cecece;
    }

    .additional-info {
        text-align: right;
    
        span {
            display: block;
        }
    }
}

.section-header {
    border: 1px solid $color-secondary;
}

.card-information {
    min-height: 5.5em;

    .item-icon {
        padding-right: 0.8em;
        padding-bottom: 0.2em;
    }

    .item-icon > img {
        width: 14px;
    }
}

