.site-email-form {
    background: linear-gradient(rgba(18, 28, 44, 0.9), rgba(18, 28, 44, 0.9));
    padding: 2rem 0;
    

    div.wrapper {
      display: flex;
      justify-content: center;
      align-items: stretch;     
    }    

    &.absolute{
      position: absolute;
      top: 456px;
      left: 0;
      z-index: 50;
      width: 100%;
    }
  }
