.text-with-icon-container {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;

    img,
    h5,
    p {
      padding-bottom: 1rem;
    }

    img {
      width: 30px;
    }

    p {
      font-size: 14px;
      line-height: 2;
    }
  }