.site-wrapper {    
    // position: relative;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.site-search {
    background: #FFEB3D; 
    opacity: 0;  
    overflow: hidden; 
    

    .wrapper {
        display: flex;
        align-items: center;
        padding: 1.7em 0;        
    }
    
    .site-search-description {
        font-weight: 900;
        padding-right: 2em;      
    }

    @media only screen and (max-width: 700px) {        
        .wrapper {
            flex-direction: column;
            align-items: flex-start;
            padding: 1em 0;
        }

        .site-search-description {
            flex: 0 0 60%;
        }

        .site-search-form {
            flex: 0 0 40%;
        }
    }
}

.site-content {  

    &-description {
        max-width: 38em;
        padding: 3em 1.5em 3em 0;
        opacity: 0;

        span {
            font-weight: 900;
        }
    }    

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .grossary-container {
        flex: 0 0 90%;
    }

    @media only screen and (max-width: 700px) {
        .site-content-description {
            padding: 2em 1em 2em 0;
        }
    }    
}

.site-aside {
    flex: 0 0 10%;
    text-align: right;

    .dx-grossary-alphabet {  
        margin-top: 48px;    
        font-size: 16px;
        line-height: 1;     
        position: sticky;          
        top: 40px;
        left: 0;

        li {
            opacity: 0; 
        }      
    }
    
    .dx-grossary-alphabet.visible {

        a {
            display: inline-block;
            padding: 0.3em 0.4em;
            cursor: pointer;
            text-shadow: 1px 1px 2px #c0bcbc;            
    
            &:hover {
                transform: scale(2.2);
                background: white;
                border: 1px solid gray;
                border-radius: 3px;                
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .dx-grossary-alphabet {
            font-size: 14px;
            top: 20px;
            line-height: 0.8;
        }
    }

    @media only screen and (max-width: 350px) {
        .dx-grossary-alphabet {
            font-size: 14px;
            top: 10px;
            line-height: 0.7;
        }
    }
}

.dx-grossary {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;   
    margin-bottom: 2em;
    margin-top: 2em;

    &-title {
        font-size: 24px;
        border: 1px solid #ccc;
        border-radius: 50%;
        display: inline-block;
        padding: 0.5em;
        line-height: 1;
        width: 2em;
        height: 2em;
        text-align: center;
        margin-bottom: 1em;       
    }

    &-section {
        flex: 0 0 26%;
        margin-bottom: 3em;
        margin-right: 3.5em;
        opacity: 0;     
        min-height: calc(100vh - 500px);      
    }

    &-list {
        line-height: 2.2;
        
        a {
            padding: 0.3em;
            cursor: pointer;            
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 200px;
            display: block;
            overflow: hidden;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    @media only screen and (max-width: 920px) {
        .dx-grossary-section {
            flex-basis: 40%;
        }
    }

    @media only screen and (max-width: 700px) {
        .wrapper {
            width: 82%;
        }

        .dx-grossary-section {
            flex-basis: 95%;            
        }
    }
}

.loaded {
    .site-search {
        animation: fadeInLeft 0.6s ease-in 0.5s forwards;
    }

    .site-content-description {
        animation: pulse 0.3s ease-out 1.2s forwards;
    }

    .dx-grossary-section.visible {        
        animation: loadMenu 1.5s 1 both;
        @for $i from 1 through 100 {
            &:nth-child(#{$i}) {                
               animation-delay: calc( #{$i * 0.1s} + 0.9s );
            }
        }
    }

    .visible .dx-grossary-list li {
        animation: loadMenuHorizontal 0.5s 1 both;      
        @for $i from 1 through 100 {
            &:nth-child(#{$i}) {
            animation-delay: $i * 0.2s;
            }
        }
    }

    .dx-grossary-alphabet.visible li {
        animation: loadMenu 0.5s 1 both;      
        @for $i from 1 through 100 {
            &:nth-child(#{$i}) {
            animation-delay: $i * 0.05s;
            }
        }
    }
}