.logos-line ul{
    padding: 2rem 0;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    li{
      width: 15%;
      overflow: hidden;   
    }
  
    img {
      width: auto;
      max-height: 3.5rem;   
      
    }
  }